// color

// 主色调
$primary-color: #fa2c19 !default;
$primary-color-end: #fa6419 !default;
// 辅助色
$help-color: #f5f5f5 !default;
// 标题常规文字
$title-color: #1a1a1a !default;
// 副标题
$title-color2: #666666 !default;
// 次内容
$text-color: #808080 !default;
// 特殊禁用色
$disable-color: #cccccc !default;
$white: #fff;
$black: #000;

// padding
$padding-xs: 12px;

$font-family: PingFang SC, Microsoft YaHei, Helvetica, Hiragino Sans GB, SimSun,
  sans-serif !default;

// ---- Animation ----
$animation-duration: 0.25s !default;
$animation-timing-fun: cubic-bezier(0.55, 0.085, 0.68, 0.53) !default;

// Font
$font-size-0: 10px;
$font-size-1: 12px;
$font-size-2: 14px;
$font-size-3: 16px;
$font-size-4: 18px;
$font-weight-bold: 400;
$font-size-small: $font-size-1;
$font-size-base: $font-size-2;
$font-size-large: $font-size-3;
$line-height-base: 1.5 !default;

// button
$button-default-width: 9.2rem /* 690/75 */;
$button-default-height: 1.173333rem /* 88/75 */;
$button-text-size: .48rem /* 36/75 */;
$button-text-primary-color-normal: #fff;
$button-text-primary-color-pressed: #fff;
$button-text-default-color-normal: #c60a1e;
$button-text-default-color-pressed: #fff;
$button-text-gray-color-normal: #222;
$button-text-gray-color-pressed: #222;
$button-text-dark-color-normal: #fff;
$button-text-dark-color-pressed: #fff;
$button-background-color-primary-normal: #c60a1e;
$button-background-color-primary-pressed: #a50516;
$button-background-color-primary-border: #c60a1e;
$button-background-color-default-normal: #f7f7f7;
$button-background-color-default-pressed: #c60a1e;
$button-background-color-default-border: #c60a1e;
$button-background-color-gray-normal: #f7f7f7;
$button-background-color-gray-pressed: #dddddd;
$button-background-color-gray-border: #9a9a9a;
$button-background-color-dark-normal: transparent;
$button-background-color-dark-pressed: rgba(255, 255, 255, 0.4);
$button-background-color-dark-border: #fff;
$button-border-radius: .106667rem /* 8/75 */;
$button-disabled-opacity: 0.4;

view-block {
  display: block;
}

