.jt-button {
  display: inline-block;
  padding: 0;
  width: $button-default-width;
  border: none;
  height: $button-default-height;
  line-height: $button-default-height;
  text-align: center;
  appearance: none;
  outline: none;
  border-radius: $button-border-radius;
  box-sizing: border-box;

  &-primary {
    background-color: $button-background-color-primary-normal;
    border: 1px solid $button-background-color-primary-border; /* no */
    color: $button-text-primary-color-normal;

    &:active {
      background-color: $button-background-color-primary-pressed;
      color: $button-text-primary-color-pressed;
    }
  }

  &-default {
    background-color: $button-background-color-default-normal;
    border: 1px solid $button-background-color-default-border; /* no */
    color: $button-text-default-color-normal;

    &:active {
      background-color: $button-background-color-default-pressed;
      color: $button-text-default-color-pressed;
    }
  }

  &-gray {
    background-color: $button-background-color-gray-normal;
    border: 1px solid $button-background-color-gray-border; /* no */
    color: $button-text-gray-color-normal;

    &:active {
      background-color: $button-background-color-gray-pressed;
      color: $button-text-gray-color-pressed;
    }
  }

  &-dark {
    background-color: $button-background-color-dark-normal;
    border: 1px solid $button-background-color-dark-border; /* no */
    color: $button-text-dark-color-normal;

    &:active {
      background-color: $button-background-color-dark-pressed;
      color: $button-text-dark-color-pressed;
    }
  }

  &.jt-button-ghost:not(:active) {
    background-color: transparent;
  }

  &[disabled] {
    opacity: $button-disabled-opacity;
  }

  label {
    font-size: $button-text-size; /* px */
  }
}
