@font-face {
  font-family: "jt-icon"; /* Project id 2441325 */
  src: url('iconfont.woff2?t=1621176385552') format('woff2'),
       url('iconfont.woff?t=1621176385552') format('woff'),
       url('iconfont.ttf?t=1621176385552') format('truetype');
}

.jt-icon {
  font-family: "jt-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-unselect-circle-o:before {
  content: "\e609";
}

.i-select-circle-o:before {
  content: "\e60a";
}

.i-seat-o:before {
  content: "\e613";
}

.i-plane-seat-c:before {
  content: "\e608";
}

.i-plane-seat-b:before {
  content: "\e607";
}

.i-plane-seat-a:before {
  content: "\e606";
}

.i-down-arrow-o:before {
  content: "\e602";
}

.i-right-arrow:before {
  content: "\e603";
}

.i-down-arrow-circle:before {
  content: "\e605";
}

.i-right-arrow-o:before {
  content: "\e601";
}

.i-left-arrow-o:before {
  content: "\eb1b";
}

.i-arrow-left:before {
  content: "\eb42";
}

.i-baggage-o:before {
  content: "\e755";
}

.i-hand-baggage-o:before {
  content: "\e8ba";
}

.i-unhappy-o:before {
  content: "\e64b";
}

.i-coupon-b-o:before {
  content: "\e600";
}

.i-coupon-a-o:before {
  content: "\e63f";
}

.i-circle-o:before {
  content: "\e60f";
}

.i-cancel-circle:before {
  content: "\e61f";
}

.i-right-circle:before {
  content: "\e6ac";
}

.i-minus-circle:before {
  content: "\eb41";
}

.i-add-circle:before {
  content: "\e604";
}

.i-people:before {
  content: "\e663";
}

.i-lock:before {
  content: "\e623";
}

