@mixin text-ellipsis() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
// 单行超长省略号
@mixin oneline-ellipsis($width: 100%) {
  width: $width;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
// 多行超长省略号
@mixin moreline-ellipsis($line: 2, $width: 100%) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
  overflow: hidden;
  word-break: break-all;
}

@mixin self-border($dir: bottom, $size: 1px) {
  position: relative;
  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    transform-origin: 0 0;
  }
  &::after {
    border-#{$dir}: $size solid $color-row-line;
    left: 0;
    bottom: 0;
    width: 100%;
    @if $dir == top {
      left: 0;
      top: 0;
      width: 100%;
      transform-origin: 0 top;
    } @else if $dir == right {
      top: 0;
      right: 0;
      height: 100%;
      transform-origin: right 0;
    } @else if $dir == bottom {
      left: 0;
      bottom: 0;
      width: 100%;
      transform-origin: 0 bottom;
    } @else {
      top: 0;
      left: 0;
      height: 100%;
      transform-origin: left 0;
    }
  }
}
